<div class="navbar-header">
    <div class="navbar-brand">Großstadtziegel</div>
</div>
<ul class="nav navbar-nav">
    <li><%= link_to "Home", controller: "stories", action: "home" %></li>
    <li><%= link_to "Übersicht", controller: "stories", action: "index" %></li>
    <li><%= link_to "Token", controller: "stories", action: "token" %></li>
</ul>
