<div class="navbar-header">
    <a class="navbar-brand" href="#">Großstadtziegel</a>
</div>
<ul class="nav nav-pills">
    <li>
    <%= link_to "Home", controller: "stories", action: "index" %>
    </li>
</ul>

