<li id="story-list" class="story">
  <%= link_to story.title, { controller: "stories", action: "show", id: story.id }, class: 'title' %>
  <p>vom <%= story.created_at.strftime("%d.%m.%Y") %></p>
</li>
