<div id="new-story-box" class="panel panel-default">
  <div class="panel-body">
    <span>Neue Geschichte:</span>
    <div class="title"><%= link_to @newest.title, action: "show", id: @newest.id %></div>
    <%= audio_tag AudioHelper.download_path_mp3(@newest.id),
      controls: true,  preload: true %>
  </div>
</div>
