<h1>Über dieses Projekt</h1>
<p>
  Dieses Projekt entstand im Rahmen des Kultur-Hackathons
  <%= link_to 'Coding Da Vinci', 'http://codingdavinci.de/' %> und
  eines Kooperationsprojekts der Kunsthochschule Weißensee und der Freien Universität
  Berlin. Im Rahmen dieses Projekts wurde unter anderem in Form eines
  <%= link_to 'Blogs', 'http://elab-kh-berlin.de/courses/cod1ng_dav1nc1/' %> der
  Projektfortschritt festgehalten.
</p>

<p>
  Wir sind ein Team aus drei Leuten unterschiedlicher Disziplinen:
  <ul>
    <li>Julian Dobmann (Informatik)</li>
    <li>Kai Kruschel (Informatik)</li>
    <li>Stefan Brüning (Produktdesign)</li>
  </ul>
</p>

<p>
  Alle Ergebnisse dieses Projekts werden unter GPL veröffentlicht und sind auf Github
  zugänglich.
  Der Code des Android-Projekt, welches dem Ziegel innewohnt, liegt unter
  <%= link_to 'https://github.com/juffel/SimpleAudioRecorder', 'https://github.com/juffel/SimpleAudioRecorder' %>,
  das Ruby on Rails-Projekt ist unter
  <%= link_to 'https://github.com/juffel/StoriesBackend', 'https://github.com/juffel/StoriesBackend' %>
  zu finden.
</p>
