<h1>Über dieses Projekt</h1>
<p>
  Dieses Projekt entstand im Rahmen des Kultur-Hackathons Coding Da Vinci.
</p>

<p>
  Bla, bla & Bla.
</p>

<ul>
  <li>Stefan Brüning</li>
  <li>Julian Dobmann</li>
  <li>Kai Kruschel</li>
</ul>
