<h1>Geschichte anpassen</h1>
<div id="creation-date" data-creation-date="<%= @story.created_at %>">
    Hochgeladen <%= @story.created_at.strftime('um %H:%M am  %d.%m.%Y') %>
</div>

<%= render "edit_form" %>
