<h1>Stories#show</h1>

<div>Erzähler: <%= @story.narrator %></div>
<div>Ort: <%= @story.place %></div>

<a href="<%= AudioHelper.download_path + @story.id.to_s %>">Download</a>

<audio src="<%= AudioHelper.download_path + @story.id.to_s %>"></audio>
