<h1>Stories#show</h1>

<div>Erzähler: <%= @story.narrator %></div>
<div>Ort: <%= @story.place %></div>

<div>
  <audio src="<%= AudioHelper.download_path @story.id %>"
    controls preload>
    Your Browser does not embedded .ogg audio.</audio>
</div>
<div>
  <%= link_to "Download", AudioHelper.download_path(@story.id) %>
</div>
