<h1>Token Eingabe</h1>
<p>Drücke einfach der Reihe nach von oben nach unten die drei Zahlen, die dir der Ziegel zeigt.</p>
<div id="token-entry">
    <form action="token" method="get">
        <div id="token_1" class="token">
            <input name="token_1" maxlength="1"></input>
        </div>
        <div id="token_2" class="token">
            <input name="token_2" maxlength="1"></input>
        </div>
        <div id="token_3" class="token">
            <input name="token_3" maxlength="1"></input>
        </div>
        <div class="button">
            <input type="submit" value="Los" class="btn btn-default">
        </div>
    </form>
</div>
