<h1>Token Eingabe</h1>
<div>
    <form action="token" method="get">
        <div>
            <input id="token_1" name="token_1"></input>
        </div>
        <div>
            <input id="token_2" name="token_2"></input>
        </div>
        <div>
            <input id="token_3" name="token_3"></input>
        </div>
        <div>
            <input type="submit" value="Los">
        </div>
    </form>
</div>

