// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@footercolor: #ffaaee;

#navigation {
  // margin-bottom: 0px;
}

#nav-container {
  .container {
    width: 95%;
  }
}

#footer {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 60px;
  width: 100%;
  background-color: @footercolor;
  text-align: center;
}

#new-story-box {
  // text-align: center;
  audio {
    width: 100%;
  }
}

#story-edit {
  float: right;
}

img {
  width: 100%;
}

#token-entry {
    background-image: url(/images/ziegel.svg);
    background-repeat: no-repeat;
    background-size: 100%;

    width: 300px;
    height: 500px;

    form {
        width: 100%;
        height: 100%;

        .token {
            text-align: center;
        }

        input {
            background-color: rgb(45,45,45);
            border: 0px;
            border-color: white;
            color: white;
        }

        #token_1, #token_2, #token_3 {
            padding-top: 31%;
            input {
                font-size: 27px;
                width: 35px;
                text-align: center;
            }
        }

        .button {
            padding-top: 14%;
            text-align: center;
        }
    }
}
