// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@color1-dark: #5A2B50;
@color1-lite: #8D387B;
@color2-dark: #805e17;
// @color2-lite: #e0a629;
@color2-lite: #E6B800;
@color3-dark: #b3b3b3;
@color3-lite: #ffffff;

body {
  background-color: @color1-dark;
  color: @color3-lite;
  h1 {
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
  }
  h3 {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
  }
  p {
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
  }
  blockquote {
    font-family: Open Sans;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
  }
  pre {
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5667px;
  }
  // OpenSans generated CSS end
  // font-family: Open Sans, sans-serif;
  // font-family: Helvetica, sans-serif;
  // font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  // font-family: Tahoma, Geneva, sans-serif;
  // font-family: "Trebuchet MS", Helvetica, sans-serif;
  // font-family: Verdana, Geneva, sans-serif;
  // font-weight: 200;
  #navigation {
    padding: 15px;
    background-color: @color3-lite;
    .navbar-brand {
      font-size: 200%;
      font-weight: 200;
    }
  }
  #site-container {
    position: relative;
    .container {
      width: 90%;
    }
    #new-story-box {
      background-color: @color1-lite;
      .title {
        font-size: 15px;
        font-weight: bold;
      }
      audio {
        padding-top: 15px;
        width: 100%;
      }
    }

    #story-title {
      span {
        font-size: 50%;
      }
    }

    .panel {
      background-color: @color1-lite;
      .story-attribute {
        font-weight: bold;
        padding-right: 20px;
      }
    }

    #story-edit {
      position: absolute;
      right: 15px;
      top: 20px;
    }

    #story-audio {
      padding: 15px;
      audio {
        width: 100%;
      }
    }

    img {
      width: 100%;
    }

    #story-list {
      list-style-type: none;
      .story {
        padding: 15px;
        .title {
          font-size: 20px;
          font-weight: bold;
        }
      }
      .story:hover {
        background-color: @color1-lite;
      }
    }

    #token-entry {
      background-image: url(/images/ziegel.svg);
      background-repeat: no-repeat;
      background-size: 100%;

      width: 300px;
      height: 500px;

      form {
        width: 100%;
        height: 100%;

        .token {
          text-align: center;
        }

        input {
          background-color: rgb(45,45,45);
          border: 0px;
          border-color: white;
          color: white;
        }

        #token_1, #token_2, #token_3 {
          padding-top: 31%;
          input {
            font-size: 27px;
            width: 35px;
            text-align: center;
          }
        }
        .button {
          padding-top: 14%;
          text-align: center;
        }
      }
    }
  }
  #footer {
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    background-color: @color1-lite;
    text-align: center;
  }
}
